$primary-color: #00F0E0;

.button {
  display: flex;
  flex-direction: column;
  max-width: 200px;

  label {
    font-weight: bold;
  }
  button {
    background-color: $primary-color ;
    cursor: pointer;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 10px;
  }
}